<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-row">
            <h3 class="footer-title" style="color: black;">Scalable HCI</h3>
        </div>
        <div class="footer-row">
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  
</footer>
