/* Glassy blue gradient header */
.site-header {
    border-top: #173356 2px solid;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari */
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 5px rgba(100, 100, 100, 0.1);
}

/* Text contrast on glass */
.site-header .site-title,
.site-header .site-nav a {
    color: black;           
    
  
}

.site-title {
    font-weight: 400;
}


.section-title {
    text-align: center; 
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('/assets/fonts/lato/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('/assets/fonts/lato/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Lato', sans-serif;
}

.custom-h1 {
    font-size: 2em; 
    font-weight: 400; 
    color: #1d1d1f; 
    text-align: left; 
    margin: 0; 
    padding: 20px 0 10px; 
}

h2{
    font-size: 1.25em !important;
    margin: 30px 0 5px;
}

.custom-h2 {
    font-size: 1em !important; 
    font-weight: bold;
    margin-top:25px;
}

.content-text {
    color: #333;
}

.section-content-left {
    color: #333;    
    text-align: left; 
    margin: 0;
    padding: 10px 0; 
    font-size: 1.5em; 
}

.image-container {
    position: relative;
    width: 100%;
    height: 450px;
    z-index: -1000;
}

@media (max-width: 768px) { 
    .image-container {
        height: 350px;
    }
}

@media (max-width: 576px) { 
    .image-container {
        height: 150px;
    }
}

.content-sponsors-logo {
    margin: 15px 0;
    width: 95% !important
    
}



.container-background-2026 {
    filter: brightness(80%);
    width: 100%;
    height: 100%;
    background: url('/assets/shenzhenbg2026.jpg') top/cover no-repeat,
              rgba(0, 0, 0, 0.25); 
    background-size: 100%;
    background-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-blend-mode: multiply;
}

.page-home {
    padding-top: 0;
}


.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 100%;
    z-index: -1;
}

.line1 {
    font-size: 4em;
    margin: 0;
}

@media (max-width: 768px) {
    .line1 {
        font-size: 2em;
    }

    video {
        max-width: 100%;
        height: auto;
    }
}

.line2 {
    font-size: 3em;
    margin: 0;
}

.add-padding-t {
    padding-top: 25px;
}

.content-notification {
    display: block;
    text-align: center;
    color: white;
    hyphens: auto;
    padding: 0;
    margin: 30px 0 5px 0;
    padding: 8px 5px;
    font-weight: 500;
    font-size: 1.25em;
    background-color: #476EAE;
    border-radius: 5px;

    a {
        color: white;
        text-decoration: underline;
    }

    
}

.notification-important {
    display: block;
    text-align: center;
    color: white;
    hyphens: auto;
    padding: 0;
    margin: 30px 0 20px 0;
    padding: 10px 8px;
    font-size: 1.25em;
    border-radius: 5px;
    background-color: #e7761fdc;
    font-weight: 500;
}

a {
    color: #476EAE;
}

.section-content-center {
    color: #333;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-size: 1.25em;
    font-weight: 500;
}

.content-logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
}

.custom-h2 {
    font-size: 1em !important;
    font-weight: bold;
    margin-top: 15px;

}

.custom-h2 a{
    color: black;
    text-decoration: underline;
}

.content-logo {
    margin: 15px 0;
    height: 70px;
    width: auto !important;
    max-width: 100%;
}

@media (max-width: 768px) {
    .content-logo {
        height: 50px;
        width: auto;
    }
}

.content-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.content-logo {
  height: 50px;           
  width: auto;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.logo-airs {
    height: 65px;
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.sponsor-logo {
  height: 45px;           
  width: auto;
  object-fit: contain;
  transition: transform 0.2s ease;
}

.logo-unitree {
    height: 30px;
}

.logo-nat {
    height: 30px;
}

.logo-idg {
    height: 35px;
}

.logo-bergsonnelabs {
    height: 45px;
}

.logo-cfoundation {
    height: 55px;
    /* margin: 0 15px; */
}

.button-apply {
    margin: 30px 0 20px;
}

.button-apply a {
    text-align: center;
    /* margin: 20px 0 20px; */
    border: 1px solid rgb(255, 224, 124);
    color: white;
    background: rgb(255, 224, 124);
    padding: 10px 50px;
    border-radius: 5px;
}

.button-apply a:hover {
    color: white;
    background: rgb(255, 224, 124);
    border: none;
    text-decoration: none;
}